{
    "$schema": "vendor/phpbench/phpbench/phpbench.schema.json",
    "runner.bootstrap": "vendor/autoload.php",
    "runner.path": "test/benchmark",
    "runner.php_disable_ini": true,
    "runner.time_unit": "microseconds",
    "report.outputs": {
        "benchmarks_file": {
            "extends": "html",
            "path": "benchmarks.html",
            "title": "gfx-php benchmarks"
        }
    },
    "report.generators": {
        "my_report": {
            "extends": "aggregate"
        }
    }
}
